h1{
    color: red;
    text-align: center;
}

.form{
    display: block;
    border-radius: 1px;
    text-align: center;
    margin:0 auto; 
    width: 400px;
    padding:20px;
    background:#f9f9f9;
    border:1px solid #333;
}
.multiclass{
    border: 2px solid #0e0b0b;
    text-align: center;
    margin: auto;
    color: #f70808;
    width: 100%;
    padding: 40px;
    background: #ece7e7;
}
.music_con{
    float: left;
    margin: 10px 0 0 10px;
    padding: 5px;
}
.vedio_con{
    float: left;
    margin: 5px 0 0 5px;
    padding: 3px;
}